Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-WTF==1.1.1
WTForms==3.0.1
requests==2.31.0
gunicorn
qrcode
Pillow
Werkzeug
eventlet
Flask-SocketIO==5.5.1
python-dotenv==1.0.0
eventlet==0.33.3

